![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [3]:
ejer_1 = [1,2,3,4,5]
ejer_1.reverse()
print (ejer_1)

[5, 4, 3, 2, 1]

In [5]:
# CORRECCIÓN. OTRO MÉTODO
ejer_1 = [1,2,3,4,5]
ejer_1 [::-1]
# ejer_1 [-1:-6:-1]

[5, 4, 3, 2, 1]

In [36]:
print (ejer_1)
print (list(reversed([1,5,2,90,3,4])))

[1, 2, 3, 4, 5]
[4, 3, 90, 2, 5, 1]

In [27]:
# POR QUÉ EL MÉTODO SLICING ES BUENO PARA INVERTIR SIMPLEMENTE, Y SORT/REVERSE PARA ORDENAR E INVERTIR
def f_ejer_1 (lista):
    lista = sorted(lista,reverse=True)
    print(lista)

def f_ejer_1_1 (lista1):
    lista1 = lista1 [::-1]
    print (lista1)

f_ejer_1([1,3,2,4,5])
f_ejer_1_1([1,-2,3,2,123,5])

[5, 4, 3, 2, 1]
[5, 123, 2, 3, -2, 1]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

```['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']```

In [62]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]
ejer_3 = []

for palabra1 in ejer_3_1:
    for palabra2 in ejer_3_2:
        ejer_3.append(palabra1 + " " + palabra2)

print (ejer_3)

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra por el índice el valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [17]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
print ("La posición del 45 es:", ejer_4.index(45))
ejer_4.insert(ejer_4.index(45),0)
ejer_4.remove(45)
print (ejer_4)

La posición del 45 es: 4
[20, 47, 19, 29, 0, 67, 78, 90]

In [38]:
# CORRECCIÓN
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
print ("La posición del 45 es:", ejer_4.index(45))
ejer_4[(ejer_4.index(45))] = 0
print (ejer_4)

La posición del 45 es: 4
[20, 47, 19, 29, 0, 67, 78, 90]

In [49]:
# POR SI HAY MÁS DE UN 45 Y QUEREMOS SUSTITUIRLOS TODOS
ejer_4 = [20, 47, 19, 29, 45, 67, 45, 78, 45, 45, 90]
for indice, numero, in enumerate(ejer_4):
    if numero == 45:
        ejer_4[indice] = 0

print (ejer_4)

# OPCION 2
ejer_4 = [20, 47, 19, 29, 45, 67, 45, 78, 45, 45, 90]
while 45 in ejer_4:
    ejer_4[ejer_4.index(45)] = 0

print (ejer_4)

[20, 47, 19, 29, 0, 67, 0, 78, 0, 0, 90]
[20, 47, 19, 29, 0, 67, 0, 78, 0, 0, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [50]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
ejer_5_copia = ejer_5.copy()
print (ejer_5_copia)

for numero in ejer_5_copia:
    if numero == 3:
        ejer_5.remove(3)

print (ejer_5)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[20, 47, 19, 29, 45, 67, 78, 90]

In [10]:
# SOLUCIÓN ALTERNATIVA CON WHILE    
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
while 3 in ejer_5:
    ejer_5.remove(3)
    print( ejer_5)

[20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[20, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[20, 47, 19, 29, 45, 67, 78, 90, 3, 3]
[20, 47, 19, 29, 45, 67, 78, 90, 3]
[20, 47, 19, 29, 45, 67, 78, 90]

In [11]:
lista1 = [1,2,3]
lista1.replace(1,4)

AttributeError: 'list' object has no attribute 'replace'

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y último elemento de la tupla del apartado 3. Usa `len` para el último
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [12]:
tupla = (1, 2, 3)

tupla2 = (9,)
print(type(tupla2))

tupla3 = ("Hola", 2, True, 3.5)

print (tupla3[0], tupla3[len(tupla3)-1])

lista_tupla = list(tupla3)
lista_tupla.append("hugo")
tuple(lista_tupla)
print (lista_tupla)

lista_tupla = list(lista_tupla)
lista_tupla.pop(int(len(lista_tupla)/2))
lista_tupla = tuple(lista_tupla)
print(lista_tupla)

lista_tupla = list(lista_tupla)
print(type(lista_tupla))

<class 'tuple'>
Hola 3.5
['Hola', 2, True, 3.5, 'hugo']
('Hola', 2, 3.5, 'hugo')
<class 'list'>

## Ejercicio 7
Concatena todos los elementos de la tupla en un único string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [14]:
ejer_7 = ("cien", "cañones", "por", "banda")
ejer_7_new = " ".join(ejer_7)

print(ejer_7_new)
# print(*ejer_7)

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [85]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)
print(ejer_8[2], ejer_8[-3])

3 90

## Ejercicio 11
Convierte la siguiente lista en un diccionario
> ```ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [17]:
ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
diccionario11 = {}

for clave, valor in ejer_11:
    print(clave, valor)
    if clave not in diccionario11:
        # print("NO: ", clave)
        diccionario11[clave] = [valor]
        # print (diccionario11.items())
    else:
        # print ("SI:", clave)
        diccionario11[clave] += [valor]
        # print (diccionario11.items())

print (diccionario11)

x 1
x 2
x 3
y 1
y 2
z 1
{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [16]:
# CORRECCIÓN
ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
diccionario11 = {}

for clave, valor in ejer_11:
    print(clave, valor)
    if clave not in diccionario11:
        diccionario11[clave] = []
    diccionario11[clave].append(valor)
    

print (diccionario11)

x 1
x 2
x 3
y 1
y 2
z 1
{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [20]:
# CORRECCIÓN
ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
diccionario11 = {}

for clave, valor in ejer_11:
    diccionario11.setdefault(clave, []).append(valor)

print (diccionario11)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

## Ejercicio 12
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave igual a 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un único for
> ```ejer_12 = {4:78, 2:98, 8:234, 5:29}```

In [50]:
print ("PREGUNTA 1")
ejer_12 = {4:78, 2:98, 8:234, 5:29}
clave_ejer12 = list(ejer_12)
clave_ejer12.sort()
print(clave_ejer12)

print ("PREGUNTA 2")
valor_ejer12 = list(ejer_12.values())
valor_ejer12.sort(reverse=True)
print(valor_ejer12)

print ("PREGUNTA 3")
ejer_12[10] = 301
print(ejer_12)

print ("PREGUNTA 4")
print(ejer_12[2])
# alternativa para q no de error
print(ejer_12.get(3,"clave no encontrada"))

print ("PREGUNTA 5")
for key, value in ejer_12.items():
    print (key, value)

PREGUNTA 1
[2, 4, 5, 8]
PREGUNTA 2
[234, 98, 78, 29]
PREGUNTA 3
{4: 78, 2: 98, 8: 234, 5: 29, 10: 301}
PREGUNTA 4
98
clave no encontrada
PREGUNTA 5
4 78
2 98
8 234
5 29
10 301

## Ejercicio 13
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_13_1 = {1: 11, 2: 22}```
>
> ```ejer_13_2 = {3: 33, 4: 44}```

In [52]:
ejer_13_1 = {1: 11, 2: 22}
ejer_13_2 = {3: 33, 4: 44}

ejer_13_1.update(ejer_13_2)

print(ejer_13_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 14
Suma todos los valores del dicionario
> ```ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [60]:
ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

ejer_14 = list(ejer_14.values())
# print (ejer_14)
# print (type(ejer_14))
sum(ejer_14)

165

In [59]:
ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
sum(ejer_14.values())

165

## Ejercicio 15
Multiplica todos los valores del diccionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [67]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
ejer_15_2 = 1

ejer_15 = list(ejer_15.values())
print (ejer_15)
print (type(ejer_15))

for numero in ejer_15:
    ejer_15_2 *= numero

print (ejer_15_2)

[11, 22, 33, 44, 55]
<class 'list'>
19326120

In [71]:
# Introducción de LIBRERÍAS
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
import numpy as np
import pandas as pd
print (np.prod(list(ejer_15.values())))

19326120

In [72]:
# Con LIBRERÍA MATH
import math
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
print(math.prod(list(ejer_15.values())))

19326120

## Ejercicio 16
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el último elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [12]:
set1 = {1,2,3}
print(set1)

set1.add(5)
print (set1)

set1.remove(5)
print(set1)

set1.discard(10)

{1, 2, 3}
{1, 2, 3, 5}
{1, 2, 3}